.LayoutChild {
  margin: auto auto;
  padding: 5px;
}

.LayoutChildFill {
  flex: 5;
}

.LayoutParentVertical {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-template-columns: auto;
  grid-row-gap: 20px;
}

.LayoutParentHorizontal {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  column-gap: 20px;
}

.LayoutParentCenter {
  width: 100%;
  display: block;
  justify-content: center;
  align-content: center;
  height: 100%;
  grid-template-rows: auto;
}

.LayoutParentLeft {
  justify-content: start;
}

.LayoutChildLeft {
  margin: 0px;
}

.TwoColumn {
  grid-template-columns: auto auto;
  column-gap: 10px;
  justify-items: right;
  width: fit-content;
  margin: auto;
}
