.Spinner{
    margin: auto auto;
    top: 50%;
    animation: spin 2s linear infinite;
    font-size: 20em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }