.Button {
  color: var(--textColor);
  font-weight: bold;
  border: none;
  background-color: var(--earnColor);
  padding: 10px 20px;
}

.UseColor {
}

.Button:hover {
  background-color: var(--earnColorHover);
  cursor: pointer;
}
