.Button {
  color: var(--textColor);
  font-weight: bold;
  border: none;
  background-color: var(--earnColor);
  padding: 10px 20px;
}

.Earn {
  background-color: var(--earnColor);
}

.Use {
  background-color: var(--useColor);
}

.Delete {
  background-color: var(--deleteColor);
}

.Button:hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}
