.Button {
  border-radius: 40px;
  background: #b7e5ff;
  box-shadow: 7px 8px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 50px;
  text-align: center;
  justify-items: center;
}

.Button:hover {
  background: rgb(156, 179, 230);
}
